<!DOCTYPE html>
<html lang="en">
<head>
  <title>e-Health website</title>
  <meta charset="utf-8">
  <!-- To ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js"></script>
  <style>
  #container1{
    height: 600px;
    width: 800px;
  }
  #container2{
    height: 600px;
    width: 800px;
  }
  #container3{
    height: 600px;
    width: 800px;
  }
  .circle1{
    height: 50px;
    width: 50px;
    background-color:red;
    border-radius: 50%;
    display:none;
  }
  .circle2 {
    height: 50px;
    width: 50px;
    background-color:yellow;
    border-radius: 50%;
    display:none;
  }
  .circle3 {
    height: 50px;
    width: 50px;
    background-color:green;
    border-radius: 50%;
    display:none;
  }
  </style>
</head>
<body>

<!-- Bootstrap 4 Jumbotron -->
<div class="jumbotron text-center">
    <h1>E-health Demo
    <span class="badge badge-secondary">beta</span>
    </h1>
    <p>With functions displayed in the following page</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form>
        <!-- Weight input box -->
        <div class="form-group">
          <h3><label for="Weight_input">Weight(kg)</label></h3>
          <input type="weight" class="form-control" id="Weight_input" placeholder="Enter weight">
          <small class="form-text text-muted">We keep your weight as a secret</small>
        </div>
        <!-- Height input box -->
        <div class="form-group">
          <h3><label for="Height_input">Height(m)</label></h3>
          <input type="height" class="form-control" id="Height_input" placeholder="Enter height">
          <small class="form-text text-muted">We keep your height as a secret</small>
        </div>
        <!-- Gender selection -->
        <div class="form-check-inline">
          <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" name="gender" value="male">Male
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" name="gender" value="female">Female
          </label>
        </div>
        <br/>
        <br/>
      </form>
      <!-- Submit result -->
      <button type="submit" class="btn btn-primary" onclick="give_feedback()">Submit</button>
      <br/>
      <br/>
      <!-- Display result -->
      <div class="alert alert-info">
        <strong>Info!</strong> <p id="dp1">Your health condition is shown here!</p>
      </div>
      <hr class="d-md-none">
    </div>

    <!-- spo2 and pulse block design -->
    <div class="col-md-8">
      <h2>Spo2 and Pulse Rate Signal</h2>
      <h5>Title description</h5>
      <div id="container1"></div>
      <button type="button" class="btn btn-secondary" onclick='setInterval(repeat_sp, 1000)'>
        See the result
      </button><hr/>
      <!-- EMG block design -->
      <h2>EMG Signal</h2>
      <h5>Title description</h5>
      <div id="container2"></div>
      <button type="button" class="btn btn-secondary" onclick='setInterval(repeat_emg, 1000)'>
        See the result
      </button><hr/>
      <!-- blood pressure block design -->
      <h2>Blood Pressure Signal</h2>
      <h5>Title description</h5>
      <div id="container3"></div>
      <button type="button" class="btn btn-secondary" onclick='setInterval(repeat_bp, 1000)'>
        See the result
      </button>
      <hr/>
        <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Health condition</th>
            <th scope="col">Good</th>
            <th scope="col">Medium</th>
            <th scope="col">Not Good</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Spo2/pulse rate</th>
            <td><span class="circle3" id="s1"></span></td>
            <td><span class="circle2" id="s2"></span></td>
            <td><span class="circle1" id="s3"></span></td>
          </tr>
          <tr>
            <th scope="row">EMG</th>
            <td><span class="circle3" id="e1"></span></td>
            <td><span class="circle2" id="e2"></span></td>
            <td><span class="circle1" id="e3"></span></td>
          </tr>
          <tr>
            <th scope="row">Blood pressure</th>
            <td><span class="circle3" id="b1"></span></td>
            <td><span class="circle2" id="b2"></span></td>
            <td><span class="circle1" id="b3"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
// database value of each measurement
var sp_value = [];
var emg_value = [];
var bp_value = [];

// data length of the database value
var sp_length = 0;
var emg_length = 0;
var bp_length = 0;

// position of the data pointer
var sp_pos = 0;
var EMG_pos = 0;
var bp_pos = 0;

// Average value of measurment
var spo2_average = 0;
var pulse_average = 0;
var dia_average = 0;
var sys_average = 0;
var emg_average = 0;

// initialize the dom for echarts
var dom1 = document.getElementById("container1");
var dom2 = document.getElementById("container2");
var dom3 = document.getElementById("container3");
var myChart1 = echarts.init(dom1);
var myChart2 = echarts.init(dom2);
var myChart3 = echarts.init(dom3);

// data tips
var app1 = {};
var app2 = {};
var app3 = {};

// spo2 and pulse data
var option1 = {
  title: {
    text: 'Spo2 and Pulse Rate',
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'cross',
      label: {
        backgroundColor: '#283b56'
      }
    }
  },
  legend: {
    data:['Spo2 Rate', 'Pulse Rate']
  },
  dataZoom: {
    show: false,
    start: 0,
    end: 100
  },
  xAxis: [{
    type: 'category',
    boundaryGap: true,
    data: (function (){
      var now = new Date();
      var res = [];
      var len = 10;
      while (len--) {
        res.unshift(' ');
      }
      return res;
    })()
  },
  {
    type: 'category',
    boundaryGap: true,
    data: (function (){
      var res = [];
      var len = 10;
      while (len--) {
        res.push(10 - len - 1);
      }
      return res;
    })()
  }
  ],
  yAxis: [{
    type: 'value',
    scale: true,
    name: 'Spo2 (bits/min)',
    max: 140,
    min: 50,
    boundaryGap: [0.2, 0.2]
  },
  {
    type: 'value',
    scale: true,
    name: 'Pulse (bits/min)',
    max: 140,
    min: 50,
    boundaryGap: [0.2, 0.2]
  }
  ],
  series: [{
    name:'Spo2 Rate',
    type:'line',
    data:(function (){
      var res = [];
      var len = 0;
      // Generate random number when the number of elements is less than 10
      while (len < 10) {
        res.push(0);
        len++;
      }
      return res;
    })()
  },
  {
    name:'Pulse Rate',
    type:'line',
    data:(function (){
      var res = [];
      var len = 0;
      // Generate random number when the number of elements is less than 10
      while (len < 10) {
        res.push(0);
        len++;
      }
      return res;
    })()
  }
]};
// EMG data
var option2 = {
  title: {
    text: 'EMG Data',
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'cross',
      label: {
        backgroundColor: '#283b56'
      }
    }
  },
  legend: {
    data:['EMG data']
  },
  dataZoom: {
    show: false,
    start: 0,
    end: 100
  },
  xAxis: [
  {
    type: 'category',
    boundaryGap: true,
    data: (function (){
      var res = [];
      var len = 10;
      while (len--) {
        res.unshift(' ');
      }
      return res;
    })()
  },
  {
    type: 'category',
    boundaryGap: true,
    data: (function (){
      var res = [];
      var len = 10;
      while (len--) {
        res.push(10 - len - 1);
      }
      return res;
    })()
  }
  ],
  yAxis: [
  {
      type: 'value',
      name:'EMG (volts)',
      scale: true,
      max: 2.5,
      min: 1,
      boundaryGap: [0.2, 0.2]
  },
  {
      type: 'value',
      name:'EMG (volts)',
      scale: true,
      max: 2.5,
      min: 1,
      boundaryGap: [0.2, 0.2]
  }
  ],
  series: {
  name:'EMG data', // must be the same as the legend data
  type:'line',
  data:(function (){
    var res = [];
    var len = 0;
    // Generate random number when the number of elements is less than 10
    while (len < 10) {
      res.push(0);
      len++;
    }
    return res;
  })()
  }};
 // pressure data
var option3 = {
   title: {
     text: 'Blood Pressure Data',
   },
   tooltip: {
     trigger: 'axis',
     axisPointer: {
       type: 'cross',
       label: {
         backgroundColor: '#283b56'
       }
     }
   },
   legend: {
     data:['diastolic', 'systolic']
   },
   dataZoom: {
     show: false,
     start: 0,
     end: 100
   },
   xAxis: [
   {
     type: 'category',
     boundaryGap: true,
     data: (function (){
       var res = [];
       var len = 10;
        while (len--) {
        res.unshift(' ');
      }
       return res;
     })()
   },
   {
     type: 'category',
     boundaryGap: true,
     data: (function (){
       var res = [];
       var len = 10;
       while (len--) {
         res.push(10 - len - 1);
       }
       return res;
     })()
   }
   ],
   yAxis: [
   {
       type: 'value',
       scale: true,
       name: 'Diastolic (mm/Hg)',
       max: 200,
       min: 0,
       boundaryGap: [0.2, 0.2]
   },
   {
       type: 'value',
       scale: true,
       name: 'Systolic (mm/Hg)',
       max: 200,
       min: 0,
       boundaryGap: [0.2, 0.2]
   }
   ],
   series: [{
    name:'diastolic',
    type:'line',
    data:(function (){
      var res = [];
      var len = 0;
        // Generate random number when the number of elements is less than 10
        while (len < 10) {
          res.push(0);
          len++;
        }
        return res;
      })()
    },
    {
      name:'systolic',
      type:'line',
      data:(function (){
        var res = [];
        var len = 0;
        // Generate random number when the number of elements is less than 10
        while (len < 10) {
          res.push(0);
          len++;
        }
        return res;
      })()
    }
]};

// numebr of datapoints displayed in the figure
app1.count = 10;
app2.count = 10;
app3.count = 10;

function DoAjax(){
    $.ajax({
        url:'/eHealth/',
        type:'POST',
        success:function(json){
            sp_value = json.sp_value;
            emg_value = json.emg_value;
            bp_value = json.bp_value;
            spo2_average = json.spo2_average;
            pulse_average = json.pulse_average;
            dia_average = json.dia_average;
            sys_average = json.sys_average;
            emg_average = json.emg_average;

            sp_length = sp_value.length;
            emg_length = emg_value.length;
            bp_length = bp_value.length;
            },
        error:function(){
            alter('failed');
        }
    });
}

// Tell the result of the BMI!!!!
function give_feedback(){
  var weight = $('#Weight_input').val();
  var height = $('#Height_input').val();
  var gender = $("input[name='gender']:checked").val();
  var index = (weight**2)/height;

  underweight = "Your BMI is within the underweight category. This may not be good for your health. You should eat more vegetables, dense whole grains, proteins low in saturated fat and low-fat dairy.";
  healthy = "Your BMI is within the healthy weight category. This is generally good for your health. You can eat fruits,vegetables, whole-grains, legumes, nuts and seeds, meat, poultry and fish to keep your health.";
  overweight = "Your BMI is within the overweight category. This may not be good for your health. You should eat more whole grains, fresh produce, beans and nuts, fish, fruits and vegetables to reduce your weight.";
  obese = "Your BMI is within the obese category. This may not be good for your health. You should get more vegetables, high fibre food, whole grains, lean proteins and fruits and consult with your personal doctor to get more food suggestion.";

  if (gender == 'male' && !isNaN(index)){
    if (index < 20.7){
      feedback = underweight;
    }
    else if (index < 26.4) {
      feedback = healthy;
    }
    else if (index < 31.3) {
      feedback = overweight;
    }
    else{
     feedback = obese;
    }
  }
  else if (gender == "female" && !isNaN(index)){
    if (index < 19.1){
      feedback = underweight;
    }
    else if (index < 25.8) {
      feedback = healthy;
    }
    else if (index < 32.3) {
      feedback = overweight;
    }
    else{
      feedback = obese;
    }
  }
  else{
    feedback = "Please enter a correct number.";
  }
  $("#dp1").text(feedback);
}

function repeat_sp(){
    DoAjax();
    axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');
    // spo2 data
    var data0 = option1.series[0].data;
    // pulse data
    var data1 = option1.series[1].data;

     // push new data into the echart
     if (sp_pos < sp_length){
    	data0.shift();
        data0.push(sp_value[sp_pos].spo2);
        data1.shift();
        data1.push(sp_value[sp_pos].bpm);
        sp_pos++;
        // Display of the time refresh
         option1.xAxis[0].data.shift();
        option1.xAxis[0].data.push(axisData);
        // Display of the number on the top
        option1.xAxis[1].data.shift();
        option1.xAxis[1].data.push(app1.count++);
        // Refresh the charts
        myChart1.setOption(option1);
     }
     if (sp_pos>=sp_length && sp_pos!=0) {
         if (pulse_average < 40) {
             document.getElementById('s1').style.display = 'block';
         }
         else if (pulse_average < 60) {
             document.getElementById('s3').style.display = 'block';
         }
         else if (pulse_average < 100) {
             document.getElementById('s2').style.display = 'block';
         }
         else {
             document.getElementById('s1').style.display = 'block';
         }
     }
}

function repeat_emg(){
     DoAjax();
     axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');
     var data = option2.series.data;

     // push new data into the echarts
     if (EMG_pos < emg_length){
         data.shift();
         data.push(emg_value[EMG_pos].emg_voltage);
         EMG_pos++;

         // Display of the time refresh
         option2.xAxis[0].data.shift();
         option2.xAxis[0].data.push(axisData);
         // Display of the number on the top
         option2.xAxis[1].data.shift();
         option2.xAxis[1].data.push(app2.count++);
         // Refresh the charts
         myChart2.setOption(option2);
     }
     if (EMG_pos>=emg_length && EMG_pos!=0) {
         if (emg_average<1) {
             document.getElementById('e1').style.display='block';
         }
         else if (emg_average<2.1) {
             document.getElementById('e3').style.display='block';
         }
         else {
             document.getElementById('e2').style.display='block';
         }
     }
}

function repeat_bp(){
    DoAjax();
    axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');
    var data0 = option3.series[0].data;
    var data1 = option3.series[1].data;

    // push new data into the echarts
    if (bp_pos < bp_length){
        data0.shift();
        data0.push(bp_value[bp_pos].diastolic);
        data1.shift();
        data1.push(bp_value[bp_pos].systolic);
        bp_pos++;

        // Display of the time refresh
        option3.xAxis[0].data.shift();
        option3.xAxis[0].data.push(axisData);
        // Display of the number on the top
         option3.xAxis[1].data.shift();
         option3.xAxis[1].data.push(app3.count++);
        // Refresh the charts
        myChart3.setOption(option3);
     }
    if (bp_pos >= bp_length && bp_pos!=0) {
         if (dia_average<60) {
             document.getElementById('b2').style.display='block';
         }
         else if (dia_average<80) {
             document.getElementById('b3').style.display='block';
         }
         else {
             document.getElementById('b1').style.display='block';
         }
    }
}

</script>
</body>
</html>
